body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.weather{
    background-color: rgb(59, 42, 42);
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.weather > div{
    background-size: cover;
    cursor: pointer;
    height: 210px;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.item{
    background-image: url(Tree.jpg);
    text-align: center;
    margin: 2px;
    padding: 80px;
    font-size: 30px;
    color: white;
}
#Mil{
    background-image: url("flower.avif");
    color: black;

}
#Work{
    background-image: url("flower.avif");
    color: black;
}
#Body{
    background-image: url("flower.avif");
    color: black;
}
.weather > div:hover{
    opacity: 0.4;
    transform: scale(0.6);
    transition: 0.5s ease-in;
}
@media only screen and (min-width: 900px) {
    #Goals{
        grid-column: span 2;
    }
    #bpm{
        background-image: url("flower.avif");
        grid-column: 3/5;
        color: black;
    }
    #Blood{
        grid-column: span 2;
        background-image: url("flower.avif");
        color: black;
    }
    #Avg{
        grid-column: 1/3;
        background-image: url("flower.avif");
        color: black;
    }
}
@media only screen and (max-width: 900px) {
    .weather{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media only screen and (max-width: 600px) {
    .weather{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (max-width: 375px) {
    .weather{
        grid-template-columns: repeat(1, 1fr);
    }
}  
